{% extends 'index.html.twig' %}

{% block title %}Détails opération {% endblock %}
 {% block stylesheets %}{% endblock %}


{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Détails opération</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">Home</a></li>
                        <li class="breadcrumb-item "><a href="{{ path('operation_list') }}">Opérations</a> </li>
                        <li class="breadcrumb-item active">Détails opération</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <strong> Date de création : </strong>
                    {{ operation.dateCreation|date('Y-m-d H:i:s') }}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div> <p>
                        <strong> id : </strong>
                        {{ operation.id }}
                    </p>
                </div>
                <div> <p>
                        <strong> Enseigne : </strong>
                        {{ operation.station }}
                    </p>
                </div>
                
                <div> <p>
                        <strong> Magasin : </strong>
                        {{ operation.panel }}
                    </p>
                </div>
                <div> <p>
                        <strong> localisation Magasin : </strong>
                        ({{ operation.panel.longitude }} ; {{ operation.panel.longitude }})
                    </p>
                </div>
                <div> <p>
                        <strong> Effectuée par : </strong>
                        {{ operation.user }}
                    </p>
                </div>
                <div>
                    <table id="#example1" class="table table-bordered table-striped">
                        <thead>
                        <tr align="center">
                            <th> Stand </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
            
                            <td align="center" style="width: 50%;">
                                <img src="{{ operation.imageAfter }}" alt="ImageAfter" style="max-width: 80%; max-height: 500px;">
                                <div> <p>
                                        <strong> Commentaire : </strong>
                                        {{ operation.commentaireAfter }}
                                    </p>
                                </div>
                                <div> <p>
                                        <strong> Localisation : </strong>
                                        ({{ operation.localisationAfter[0] }} ; {{ operation.localisationAfter[1] }})
                                    </p>
                                </div>
                               <div> <p>
                                        <strong> Distance par rapport Magasin : </strong>
                                        ({{ operation.panel.longitude - operation.localisationAfter[0] }}  ; {{ operation.panel.longitude - operation.localisationAfter[1] }})
                                    </p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        document.getElementById('operations').classList.add("active");
    </script>
{% endblock %}