{% extends "index.html.twig"%}

{% block title %}Liste des Magasins{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
     <link rel="stylesheet" href="{{ asset('theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
 {% endblock %}
{% block body %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('panel_list') }}">Magasins</a></li>
                        <li class="breadcrumb-item active">Rechercher</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Table des Magasins</h3>
                    </div>

                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <a href="{{ path('panel_add') }}"  class="btn btn-success" >Créer</a>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>

                            {% if panels %}
                            <div class="card-body table-responsive p-0">
                                <table id="#example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Description</th>
                                        <th>Enseigne</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for panels in panels %}
                                        <tr>
                                            <td>{{ panels.id }}</td>
                                            <td>{{ panels.description }}</td>
                                            <td>{{ panels.station }}</td>
                                            <td>
                                                <a href="{{ path('panel_by_id',{'id':panels.id }) }}" class="btn btn-primary "> <i class="fas fa-eye"></i> Détails</a>
                                                <a href="{{ path('panel_edit',{'id':panels.id }) }}" class="btn btn-warning"> <i class="fas fa-pencil-alt"></i> Modifier</a>
                                                <a href="{{ path('panel_delete',{'id':panels.id }) }}" class="btn btn-danger event-delete" > <i class="fas fa-trash"></i> Supprimer</a>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <a href="{{ path("panel_list") }}" ><button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="page précédente">
                                        <i class="fa fa-angle-double-left" aria-hidden="true"></i></button></a>
                                {% else %}
                                    <p>Aucun Magasin n'a été trouvé</p>
                                    <a href="{{ path("panel_list") }}" ><button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="page précédente">
                                            <i class="fa fa-angle-double-left" aria-hidden="true"></i></button></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
{% endblock %}
{% block javascripts %}
   <script src="{{  asset('theme/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{  asset('theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{  asset('theme/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{  asset('theme/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
    <script src="{{  asset('theme/dist/js/adminlte.min.js')}}"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

        <script>
            document.getElementById('panels').classList.add("active");
        </script>

{% endblock %}
